@model string

<div class="d-flex flex-row justify-content-center align-items-start">

    <div id="form" class="d-flex flex-column justify-content-center align-items-center">

        <a id="previous-arrow" class="d-flex align-self-start" asp-action="login">
            <img style="height: 100%; width: 100%" src="~/lib/form/left-arrow.png" />
        </a>

        <form asp-action="VerifyPasscode" method="post">

            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div>
                    @foreach (var modelStateKey in ViewData.ModelState.Keys)
                    {
                        if (modelStateKey.StartsWith("Custom_"))
                        {
                            foreach (var error in ViewData.ModelState[modelStateKey].Errors)
                            {
                                <span class="text-danger">@error.ErrorMessage</span>
                            }
                        }
                    }
                </div>
            }

            <div>
                <label for="Email" class="m-0 mt-4 mb-1 font-weight-bold d-block">Please enter your passcode.</label>
                <input id="email-input" type="email" name="email" placeholder="abc@gmail.com" value="@Model" hidden />
                <input id="passcode-input" type="text" name="passcode" placeholder="Passcode" />
            </div>

            <div class="mt-4" style="text-align: right">
                <button id="submit-button" type="submit">GO</button>
            </div>
        </form>
    </div>
</div>
